%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
  [
  {blessed_snapshot_block_height, 727201},
{blessed_snapshot_block_hash,
<<187,144,114,168,34,17,238,94,174,150,129,193,74,144,93,47,208,79,222,51,
       94,47,86,148,12,189,244,81,224,227,220,120>>},
  ]},
  {miner,
    [
      {use_ebus, true},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
